<p>
  information works!
</p>
<div class="col-md-12">
  <h2> SignUP details</h2>
  <div class="table-responsive table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Score</th>
          <th>country</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{{ angForm.controls.username.value }}</td>
          <td>{{ angForm.controls.score.value }}</td>
          <td>{{ angForm.controls.country.value }}</td>
          <td>{{ angForm.controls.email.value }}</td> -->

        </tr>
      </tbody>
    </table>
  </div>
</div>
