<!--<div class="container">
  <input class="form-control" placeholder="serach by name" type="text" [(ngModel)]="nameSearch" >

  <div class="header row">
    <div class="col">
      Name
    </div>
    <div class="col">
      Country
    </div>
    <div class="col">
      Score
    </div>
  </div>
  <div class="body ">
    <div class="row" *ngFor="let item of wall | filter : nameSearch">
      <div class="col">
        {{item.name}}
      </div>
      <div class="col">
          {{item.country}}
      </div>
      <div class="col">
          {{item.score}}
      </div>
      </div>
    </div>

</div>


<div class="container">
  <input class="form-control" placeholder="serach by email" [(ngModel)]="signInSearch" >
  
    <div class="header row">
      <div class="col">
        Name
      </div>
      <div class="col">
        Country
      </div>
      <div class="col">
        Score
      </div>
      <div class="col">
          Email
        </div>
    </div>
    <div class="body ">
      <div class="row" *ngFor="let item of signIn | filter : signInSearch">
        <div class="col">
          {{item.username}}
        </div>
        <div class="col">
            {{item.country}}
        </div>
        <div class="col">
            {{item.score}}
        </div>
        <div class="col">
            {{item.email}}
        </div>
        </div>
      </div>
  
  </div>
-->