@import "../variable";

.assess {
  display: flex;
  align-items: center;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
}

.btn-width{
  min-width: 100px;
}

.btn-answer{
  font-size: 12px;
  padding: 9px 0;
}

.number_group.blur{
  filter: blur(5px);
}
.number_group {
  position: relative;
  margin-top: 20px;
}

.poitner{
  position: absolute;
  text-align: center;
}
.number {
  background-color: #ffffff;
  color: #333;
  font-weight: bold;
  border: 0px solid #0000FF;
  border-radius: 30px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: width 5.2s, height 8.2s, border 3.1s, margin 3.2s;
}

.top_panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  /* margin-top: 15px; */
  padding: 5px 40px;
  border-radius: 10px 10px 0 0;
}

button:focus {
  outline: none;
}

.blink:after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  top: 23px;
  left: -7px;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  pointer-events: none;
  animation: markerPulse 1s ease-in-out infinite alternate;

}

@keyframes markerPulse {
  0% {
    transform: scale(.8)
  }

  to {
    transform: scale(1)
  }
}



.poitner:nth-child(1) {
  left: 24%;
  top: 64%;
}
.poitner:nth-child(1) .pointer_img {
  transform: rotate(180deg) translateY(-60px);
}

.poitner:nth-child(2) {
  left: 13%;
  top: 40%;
}

.poitner:nth-child(3) {
  left: 16%;
  top: 18%;
}
.poitner:nth-child(3) .pointer_img, .poitner:nth-child(6) .pointer_img  {
  transform: rotate(90deg) translateX(30px) translateY(-24px);
}

.poitner:nth-child(5) {
  left: 44%;
  top: 30.5%;
}

.poitner:nth-child(4) {
  left: 33%;
    top: 33%;
}



.poitner:nth-child(6) {
  left: 50%;
  top: 47%;
}

.poitner:nth-child(7) {
  left: 79%;
  top: 30%;
}

.popup {
  width: 210px;
  position: absolute;
  left: 45px;
  top: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 3px #0000003d;
  background-color: white;
  z-index: 100;
  text-align: left;
  font-size: 16px;
}

.popup .question, .popup .answer{
  padding: 10px 20px;
}
.popup .question.correct{
  background-color: #0d8a11;
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.popup .question.incorrect{
  background-color: #a20021;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.poitner:nth-child(2) .popup{
  left: -100px;
    top: 70px;
}
.poitner:nth-child(3) .popup{
  top:-40px;  
  width:280px
}
.poitner:nth-child(4) .popup{
  top: 64px;
  left: -87px;
  
}

.poitner:nth-child(5) .popup{
  top: -40px;
  width: 245px;
}

.poitner:nth-child(7) .popup{
  top: 68px;
  left: 0px;
}
.full-width {
  width: 100%;
  border-radius: 10px;
}

.close_button_border {
  background-color: #b6000f;
  border: 0px;
  border-radius: 30px;
  padding: 4px 8px;
  padding-bottom: 8px;
  padding-top: 0px;
  position: relative;
}
.small-outliner{
  font-size: 0.8rem;
  border: 1px solid #333;
  color: #333;
  border-radius: 20px;
}
.next-button {
  color: #fff;
  background-color: rgb(182, 0, 15);
  border-color: #b6000f;
}

.next-button:hover {
  color: #fff;
  background-color: rgb(200, 35, 51);
  border-color: #bd2130;
}

.btn.focus,
.btn:focus {
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgb(200, 35, 51);*/
}

.score-border {
  border: 5px solid #b6000f;
  width: 15%;
  background: #b6000f;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  border-radius: 11px;
  text-align: center;
  opacity: 0.8;
}

.enable {
  opacity: 1;
  cursor: pointer;
}

.close {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: #bbbbbb;
}

.btn.disabled,
.btn:disabled {
  opacity: .15;
}

.footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.thanks {
  margin-top: 10%;
  text-align: center;

}
.square_radio {
  width: 15px;
  height: 15px;
  
  margin-right: 10px;
  border:1px solid #bbb;
}

.square_radio .circle{
  height: 5px;
  width: 5px;
  background-color: #333;
  border-radius: 50%;
  margin:4px;
}

.square_radio .tick
{
  background-image: url(../../assets/image/tick.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 18px;
  background-size: cover;
  margin-top: -3px;
}
.square_radio .wrong
{
  background-image: url(../../assets/image/wrong.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-size: cover;
}
.choice{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 14px;
}

.choice.disable{
  cursor: default;
}
.eval{
  border:3px solid #a20021;
  position: absolute;
  left: 0px;
  right: 0px;
}
.eval img {
  left: -15px;
  position: relative;
}

.eval.correct{
  border-color:#0d8a11;
}

.bg-green{
  background-color: #65ff00;
}

.next_panel{
  position: absolute;
  right:10px;
  bottom: 65px;
}

.bottom_bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.bottom_bar .flex-row {
  justify-content: space-between;
  padding: 0 0px 0 40px;
}

.bottom_bar .title
{
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 18px;
  font-weight: 300;
  color: #B8B8B8;
}
.bottom_bar .content {
  /* display: flex; */
  align-self: flex-end;
  font-weight: 100;
  /*font-size: 1.5rem;*/
}

.icon img {
  margin: -26px 10px 0px 10px;
  height: 90%;
}

.bottom_bar .score{
  align-self: center;
  font-weight: 100;
  font-size: 14px;
 
}
.user-score{
  font-weight: normal;
  font-size: 22px;
}

.next{
  /*padding: 5px 45px;*/
  margin-bottom: 10px;
  font-weight: 300;
}

.dark_bg {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #33333333;
}

.panel {
  /*min-width: 350px;*/
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  
  margin: 1.5rem auto;
  position: relative;
}
.step_1{
  padding:28px 60px;
}
.step_2{
  padding:20px;
}
.table_header{
  background-color: #a4b5bf;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.yourscore_panel{
  min-width: 700px;
}

.box {
  width: 450px;
  margin: 20px auto;
  font-size: 14px;
}
.border-box{
  border: 1px solid #707070;
}
.margin-row{
  margin: 0 -15px;
}
.nothanks
{
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
}
.next-challenge{
  padding: 5px 20px;
    font-weight: 300;
}

.font-small {
  font-size: 16px;
}
.font-14
{
  font-size: 14px;
}
.playagain{
  min-width:140px;
}

.nameForm{
  max-width: 480px;
  margin: 0 auto;
  .single-row{
    display: flex;
    margin-bottom: 5px;
    .lable{
      width: 150px;
      margin-right: 20px;
    }
    .field{
      max-width: 200px;
    }

  }
}