<!--The content below is only a placeholder and can be replaced.-->
<div class="background-color">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a routerLink="/home">
          <img class="logo" style="width: 120px;" src="assets/image/logo.svg">
        </a>
        <div class="align-self-center logo_text ml-1">ENGINEERING <br>
          <span>TOMORROW </span>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="navbar-nav" *ngIf="getGamePage()"> 
            <div class="btn btn-primary active">Your Score: {{getScore()}}</div>
          </div>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  
                  <a class="dropdown-item" (click)="setContent('en')">English</a>
                <a class="dropdown-item" href="javascript:void(0);">Danish</a>
                <a class="dropdown-item" href="javascript:void(0);">Spanish</a>
                <a class="dropdown-item" href="javascript:void(0);">Chinese</a>
                <a class="dropdown-item" (click)="setContent('fr')">French</a>
              </div>
            </li>
          </ul>
       
      </div>
    </nav>
  </div>
</div>
<!-- <div [@myAnimation]="o.isActivated ? o.activatedRoute : ''"> 
  <router-outlet #o="outlet"></router-outlet>
</div> -->
<router-outlet></router-outlet>
