<div class="container mt-5">
  <h2>Your Score : {{score}}</h2>
  <h3 class="mt-3">Do you have what it takes to compete with industry experts from around the world?</h3> 
  <p>Sign up for the international competition and you could win our Grand Prize!</p>
  <h3 class="mt-5">Please register below:</h3>
  <small>*Danfoss complies with the European GDPR regulations and thereby guarantee to keep any information provided here safe from abuse and xxxxxxxxxxx……..</small>

    
  <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()" class="signup_form mt-5">
    <div class="form-group row">
      <label for="username" class="col-sm-3 col-form-label">Your nick name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="username">
        <div *ngIf="submitted && angForm.controls['username'].invalid" class="error">
          <div *ngIf="angForm.controls['username'].errors.required">Name is required.</div>
        </div>
      </div>
    </div>
    
    <!-- <div class="form-group row">
      <label for="score" class="col-sm-3 col-form-label">Score</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" formControlName="score">
        <div
          *ngIf="submitted && angForm.controls['score'].invalid && (angForm.controls['score'].dirty || angForm.controls['score'].touched || angForm.controls['score'].untouched)"
          class="error">
          <div *ngIf="angForm.controls['score'].errors.required">Score is required.</div>
        </div>
      </div>
    </div> -->
    <div class="form-group row">
      <label for="country" class="col-sm-3 col-form-label">Your country (region)</label>
      <div class="col-sm-6">
        <select type="number" class="form-control custom-select-mb" formControlName="country">
          <option value='0'>Select Country</option>
          <option *ngFor="let country of countries" value='{{country.code}}'>{{country.name}}</option>
        </select>
        <div
          *ngIf="angForm.controls['country'].invalid && (angForm.controls['country'].dirty || angForm.controls['country'].touched || angForm.controls['country'].untouched )"
          class="error">
          <div *ngIf="submitted && angForm.controls['country'].errors.required">Country is required.</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">*Your email address</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" formControlName="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email">
        <div
          *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched || angForm.controls['email'].untouched )"
          class="error">
          <!---  <div *ngIf="submitted && angForm.controls['email'].errors &&(angForm.controls['email'].touched  || angForm.controls['email'].dirty)" class="error">
     <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="error">
      <div *ngIf="angForm.controls['email'].errors.required">-->
          <div *ngIf="submitted && angForm.controls['email'].errors.required">Email is required.</div>
          <div *ngIf="submitted && angForm.controls['email'].errors?.pattern">Invalid email.</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-9">
        <button type="submit" value="Send message" class="btn btn-primary float-right">Sign up</button>
      </div>
      
    </div>

  </form>
  <p class="mt-3">Get competition updates – follow Danfoss on social media.</p>
  <!-- <div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{ angForm.controls.username.value }}</span><br>
    <strong>Score:</strong>
    <span>{{ angForm.controls.score.value }}</span><br>
    <strong>Country:</strong>
    <span>{{ angForm.controls.country.value }}</span><br>
    <strong>Email:</strong>
    <span>{{ angForm.controls.email.value }}</span><br>
  </div> -->

</div>
