.signup_container{
    padding: 5rem;
}
.signup-header{
    padding: 20px;
    font-weight: 700;
    font-size: 26px;
}
.signup_danfoss{
font-size: 69%;
font-weight: 600;
}
.signup_form{
    padding: 50px;
    background-color: #b6000f;
    color: #fff;
    border-radius: 29px;
    margin-top: 1rem;
}