<div class="center_panel container">
  <div class="red_panel ">

    <div class="step text-center" *ngIf="step == 1" [@fallIn]>
      <h2 class="biggest-text font-thin">{{service._content['wall']}}</h2>
      <div class="border-rounded m-3">
        <table class="c-table text-left">
          <thead>
            <tr>
              <th width="36%">{{service._content['nick_name']}}</th>
              <th width="36%">{{service._content['region']}}</th>
              <th>{{service._content['score']}}</th>
            </tr>
          </thead>
          <tbody class="white_panel">
            <ng-container *ngFor="let item of wall ; let i = index;">
            <tr [ngClass]="{'currentItem' : item.currentItem}" *ngIf="item.showResult == true">
              <td>{{i+1}}. {{item.name}}</td>
              <td>{{item.country}}</td>
              <td class="">{{item.score}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <br>
      <p class="font-light">{{service._content['winning_price']}}</p>
      <p class="font-thin big_header">{{service._content['signup']}}</p>

      <button (click)="step = 2"
        class="btn btn-primary rounded-pill btn-width1">{{service._content['want_win']}}</button> <br><br>
      <button (click)="step = 3"
        class="btn btn-outline-light rounded-pill btn-width1">{{service._content['no_thanks']}}</button>
    </div>

    <div class="step d-flex" *ngIf="step == 2" [@fallIn]>
      <div class="back_btn" (click)="step = 1">
        <img src="assets/image/white_back.png" alt="">
      </div>
      <div class="ml-3">
        <p>{{service._content['arround_world']}}<br>{{service._content['world_competition']}}</p>
        <h2 class="font-normal">{{service._content['register']}}</h2>
        <p class="notes font-thin">{{service._content['protect_information']}}</p>
        <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()" class="signup_form ">
          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">{{service._content['your_nick_name']}}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="{{service._content['name']}}"
                formControlName="username">
              <div *ngIf="submitted && angForm.controls['username'].invalid" class="error">
                <div *ngIf="angForm.controls['username'].errors.required">Name is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="score" class="col-sm-3 col-form-label">{{service._content['your_Score']}}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="{{service._content['your_score']}}"
                formControlName="score">
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-sm-3 col-form-label">{{service._content['your_country(region)']}}</label>
            <div class="col-sm-6">
              <select type="number" class="form-control custom-select-mb" formControlName="country">
                <option value='0'>Select Country</option>
                <option *ngFor="let country of countries" value='{{country.code}}'>{{country.name}}</option>
              </select>
              <div
                *ngIf="angForm.controls['country'].invalid && (angForm.controls['country'].dirty || angForm.controls['country'].touched || angForm.controls['country'].untouched )"
                class="error">
                <div *ngIf="submitted && angForm.controls['country'].errors.required">Country is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">{{service._content['your_email_address']}}</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" placeholder="{{service._content['your_email']}}"
                formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email">
              <div
                *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched || angForm.controls['email'].untouched )"
                class="error">
                <div *ngIf="submitted && angForm.controls['email'].errors.required">Email is required.</div>
                <div *ngIf="submitted && angForm.controls['email'].errors?.pattern">Invalid email.</div>
              </div>
              <div class="notes">
                <p>{{service._content['email_policy1']}}
                  <span class="button a_href" (click)="openRules()">{{service._content['here']}}</span>.
                  <span [innerHtml]="service._content['email_policy2']"></span>
                  <a class='a_href' href='https://www.danfoss.com/en/terms/privacy/' target='_blank'>{{service._content['here']}}</a>. 
                  <span [innerHtml]="service._content['email_policy3']"></span>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <button type="submit" [disabled]="!(angForm.valid && angForm.controls['country'].value != 0 && angForm.controls['score'].value > 0)"
                value="Send message" class="btn btn-primary">{{service._content['sign_up']}}</button>
            </div>
          </div>
        </form>
      </div>
      <!-- <p>Get competition updates - follow Danfoss on social media <img class="ml-5" src="assets/image/social.png" alt=""></p>
      <div class="text-center m-5">
        <button class="btn btn-outline-light rounded-pill btn-width">Exit</button>
      </div> -->
    </div>

    <div class="step text-center" *ngIf="step == 3" [@fallIn]>
      <br>
      <br>
      <h2 class="bigger-text font-light">
        {{service._content['Thanks_for_play']}}<br>
        <span *ngIf="signup == true"> & Signing up for the competition</span>
      </h2>
      <div class="d-flex next_panel">
        <div class="text-center">
          <div class="img mt-3">
            <img src="assets/image/invite.png" alt="">
          </div>
          <a href='https://www.facebook.com/sharer/sharer.php?u=danfoss.com'
            class="btn btn-primary btn-width rounded-pill mt-3">{{service._content['invite']}}</a>
          <p class=" small_text">{{service._content['invite_friend']}}</p>
        </div>

        <div class="text-center">
          <div class="img mt-3">
            <img src="assets/image/tools.png" alt="">
          </div>
          <a href='http://refrigerantweek.danfoss.com'
            class="btn btn-primary btn-width rounded-pill mt-3">{{service._content['tools']}}</a>
          <p class=" small_text"  [innerHtml]="service._content['free_tool']"></p>
        </div>

        <div class="text-center">
          <div class="img mt-3">
            <img src="assets/image/elesson.png" alt="">
          </div>
          <a href='https://www.danfoss.com/en/service-and-support/learning/'
            class="btn btn-primary rounded-pill mt-3 btn-width">{{service._content['e-lesson']}}</a>
          <p class=" small_text" [innerHtml] = "service._content['free_lesson']"></p>
        </div>
      </div>
      <div class="text-center">
        <p>{{service._content['social_media']}}</p>
        <div class="mt-3">
          <!-- <a href="" class="icon"><img src="assets/icon_fb.png" alt=""></a> -->
          <a href="https://www.instagram.com/DanfossCool" target="_blank" class="icon"><img
              src="assets/image/icon_instagram.png" alt=""></a>
          <a href="https://www.linkedin.com/showcase/DanfossCool" target="_blank" class="icon"><img
              src="assets/image/icon_linkedin.png" alt=""></a>
          <a href="https://www.twitter.com/DanfossCool" target="_blank" class="icon"><img
              src="assets/image/icon_twitter.png" alt=""></a>
          <a href="https://www.youtube.com/DanfossCool" target="_blank" class="icon"><img
              src="assets/image/icon_youtube.png" alt=""></a>

        </div>
      </div>
      <div class="text-center m-5">
        <button (click)="playAgain()"
          class="btn btn-outline-light rounded-pill btn-width">{{service._content['play_again']}}</button>
      </div>
    </div>





  </div>

  <div class="dark_bg" *ngIf="panel == true" [@fallIn]>
    <div class="panel">

      <div [@fallIn]>
        <div class="back" (click)="panel = false">
          <img src="assets/image/back.svg" width="80" height="80" alt="">
        </div>
        <h2 class="title text-center">{{service._content['rules_title']}}</h2>

        <div class="content text-left">
          <div *ngFor="let item of service._content['rules']">
            <div [innerHtml]="item"></div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
