<div class="container">
  <h2 class="mt-5 animate">Welcome to CoolGame III</h2>
  <div class="animate">
    <p class="mt-3 mb-0">You need a new refrigerant in the R404A system, but what are the consequences?</p>
    <p>Test your knowledge and skills and get a chance to win a cool prize!</p>
  </div>
  <div class="text-center animate">
    <img src="assets/image/circuit.jpg" alt="">
  </div>
  <p class="animate">Remember the system was built for R404A, so are the compressor, the TXV, the condenser OK, and what
    about the
    performance?</p>
  <a routerLink="/start" class="btn btn-primary animate">Get Start</a>
</div>
